{{#each errors}}
    <div class="alert alert-danger"> {{ text }} </div>
    {{else}}
{{/each}}

<h2> Cadastrar Material </h2>

<div class="card">
    <div class="card-body">
        <form action="/material/register" method="post">
            <label for="name"> Informe o nome do material: </label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Digite aqui o nome do material:" required>

            <label for="cost"> Informe o custo do material: </label>
            <input class="form-control" type="number" name="cost" id="cost" placeholder="Digite aqui o custo do material:" required>

            <label for="buyDate"> Informe o dia que o material foi comprado: </label>
            <input class="form-control" type="date" name="buyDate" id="buyDate" required>

            <button type="submit" class="btn btn-primary mt-4"> Enviar </button>
        </form>
    </div>
</div>